* {
  margin: 0;
  padding: 0;
}
.layout {
  background: rgb(208, 206, 206);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.container {
  background: rgb(208, 206, 206);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.box {
  border: 2px solid black;
  border-radius: 13px;
  margin-bottom: 6px;
  padding: 8px;
}
.card {
  margin-top: 20px;
  background-color: #3054877e;
  max-width: 320px;
  margin-left: 20px;

  max-height: 250px;
  overflow-y: scroll;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
.label-for {
  background-color: gray;
  color: whitesmoke;
  min-width: 250px;
  border-radius: 14px;
  padding: 5px;
}
.check-box {
  height: 15px;
  width: 15px;
}
.btn-note {
  background-color: rgb(67, 42, 165);
  color: white;
  margin-left: 10px;
  border-radius: 10px;
  padding: 5px;
}
.search-area {
  border: 1px solid gray;
  height: 350px;
  margin-left: 20px;
  top: 10px;
  z-index: 20px;
  overflow-y: scroll;
  padding: 15px;
}
.app-wrapper {
  margin-top: 20px;
  background-color: #3054877e;
  min-width: 250px;
  max-height: 350px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
  overflow-y: scroll;
}
.header h1 {
  color: whitesmoke;
  text-align: center;
  margin: 30px 0;
}
.add-note {
  outline: none;
  width: 260px;
  padding: 10px;
  border-radius: 15px;
}

.rule-box h1 {
  color: whitesmoke;
  text-align: center;
  margin: 30px 0;
}
.task-input {
  outline: none;
  width: 260px;
  padding: 10px;
  border-radius: 15px;
}
.task-input:hover {
  background-color: rgb(213, 203, 203);
  /* background: transparent; */
}

.button-add {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 15px;
  border: 0;
  background-color: #c78d4f;
  cursor: pointer;
  margin-left: 10px;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 10px;
  max-height: 30px;
}

.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}

.button-complete {
  color: #964a4a;
  margin-right: 10px;
}

.button-edit {
  color: #d39a5c;
  margin-right: 10px;
}
.button-delete {
  color: rgb(191, 101, 101);
}
.button-delete:hover {
  color: #a20c0c;
}
.list {
  width: 220px;
  background-color: #4f4c4a;
  border: none;
  color: #ccc;
  padding-left: 10px;
  margin-right: none;
}
input:focus,
button:focus {
  outline: none;
}

.display-table table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 480px;
  max-height: 20px;
  margin-left: 20px;
}

.display-table td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.display-table tr:nth-child(even) {
  background-color: #dddddd;
}
